html, body{
  height: 100%;
  font-weight: 800;
  margin: 0;
  padding: 0;
  }
  
      body {
          background: #030321;
    font-family: Arial;
  
      margin: 0% 0%;
        padding: 0%;
      }
  
      .container {
        max-width: 400px;
        margin-top: 50%;
        margin: -120px auto;
        padding: 20px;
        background-color: #ffffff10;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background-position: center center;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
      }
      @media (max-width: 768px) {
          .container {
            background-size: contain;
            background-position: top center;
          }
        }
  
      h1 {
        text-align: center;
        color: bisque;
      }
  
      label {
        display: block;
        margin-bottom: 10px;
        margin-top: 2rem;
        color: bisque;
      }
  
      input[type="text"],
      input[type="password"] {
        width: 90%;
        padding: 10px;
        border-radius: 3px;
        background-color: bisque;
        border: 1px solid #ccc;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* margin-top: 2rem; */
      }
  
      input[type="submit"] {
        width: 30%;
        padding: 10px;
        border-radius: 6%;
        background-color: #c3470c;
        border: none;
        color: #fff;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-left: 34%;
      }
  
      @media screen and (max-width: 480px) {
        .container {
          width: 90%;
          margin: 20px auto;
        }
      }
  #SignUp{
      text-decoration: none;
      color: bisque;
      display: flex;
      text-align: center;
      justify-content: center;
      margin-top: 1rem;
    }
  
  
  
  .container0 {
    display: flex;
    height: 60%;
    align-items: center;
    z-index: -1;
    margin: 0% 0%;
  }
  
  svg {
      display: block;
      font: 7em 'Montserrat';
      /* width: 960px;
      height: 300px; */
      margin: 0 auto;
  }
  
  .text-copy {
      fill: none;
      stroke: white;
      stroke-dasharray: 6% 29%;
      stroke-width: 5px;
      stroke-dashoffset: 0%;
      animation: stroke-offset 5.5s infinite linear;
  }
  
  .text-copy:nth-child(1){
    stroke: #4D163D;
    animation-delay: -1;
  }
  
  .text-copy:nth-child(2){
    stroke: #840037;
    animation-delay: -2s;
  }
  
  .text-copy:nth-child(3){
    stroke: #BD0034;
    animation-delay: -3s;
  }
  
  .text-copy:nth-child(4){
    stroke: #BD0034;
    animation-delay: -4s;
  }
  
  .text-copy:nth-child(5){
    stroke: #FDB731;
    animation-delay: -5s;
  }
  
  @keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
  }